<!DOCTYPE html>
<html>
<head>
	<title>Give portal</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
</head>
<body>
	<main>
		<div class="give-header-container">
			<header>
				<a href="#" class="give-icon"></a>
				<a href="#" class="give-icon-text">Give</a>
				<nav class="give-navigation">
					<a href="#">About give</a>
					<a href="#">What we do</a>
					<a href="#">Get involved</a>
				</nav>
				<a href="#" class="give-menu"> menu
					<span class="give-menu-icon">
						<span class="give-menu-bar bar1"></span>
						<span class="give-menu-bar bar2"></span>
						<span class="give-menu-bar bar3"></span>
					</span>
				</a>
				<a href="#" class="give-donate-button">Donate</a>
			</header>
		</div>

		<div class="slider-wrap">
			<span class="give-slider-left"></span>
			<span class="give-slider-right"></span>

			<div class="single-slide give-active-slider" id="slide-0">
				<span class="give-slide-center">
					<span>The NGO-ization of politics threatens to turn resistance into a well-mannered, reasonable, salaried, 9-to-5 job. With a few perks thrown in. Real resistance has real consequences. And no salary.</span>
					<p><em>- Arundhati Roy</em></p>	
				</span>
			</div>
			<div class="single-slide" id="slide-1">
				<!-- <span class="give-slide-center">
					<span>Education is the most powerful weapon we can use to change the world</span>
					<p><em>- Nelson Mandela</em></p>	
				</span> -->
				
			</div>
			<div class="single-slide" id="slide-2">
				<span class="give-slide-center">
					<span>Don't put a limit on anything. The more you dream the farther you get</span>
					<p><em>- Michael Phelps 22 medal winner</em></p>	
				</span>
			</div>
			<div class="single-slide" id="slide-3">
				<span class="give-slide-center">
					<span>Education is not the learningof facts, but the training of mind to think</span>
					<p><em>- Albert Einstein</em></p>	
				</span>
			</div>
			<div class="single-slide" id="slide-4">
				<span class="give-slide-center">
					<span>Education is the ability to listen to almost anything without losing your temper or your self-confidence</span>
					<p><em>- Robert frost</em></p>	
				</span>
			</div>
		</div>
	</main>

	<section>
		<div class="give-about">
			<p class="give-about-header">A ray of hope</p>
			<br>
			<p class="give-about-text">
				As a faith-based, nonprofit organization Convoy of Hope has helped more than 80 million people throughout the world by sharing food, water, emergency supplies, agricultural know-how, and opportunities that empower people to live independent lives, free from poverty, disease and hunger.
			</p>

			<p class="give-about-text">
				Convoy of Hope does this through:
			</p>

			<p class="give-about-text">
				Mobilizing tens of thousands of volunteers each year.
			</p>

			<p class="give-about-text">
				Partnering with churches, businesses, individuals and other humanitarian organizations who are intent on doing good work among the impoverished and suffering.
			</p>

			<p class="give-about-text">
				Transparency — we have received the prestigious Four Star Charity Award from Charity Navigator for 14 years.
			</p>

			<p class="give-about-text">
				<span class="give-about-explorebutton">Explore Rise</span>
			</p>
		</div>
	</section>

	<section class="give-whatwedo">
		<p>
			<span class="give-whatwedo-header">What we do</span>
		</p>
		<div class="give-whatwedo-content">
			<div class="give-promoteeducation">
				<ul class="give-whatwedo-list">
					<li class="give-whatwedo-lih">Promote Digital Education</li>
					<li class="give-whatwedo-lid">Digital education</li>
					<li class="give-whatwedo-lid">Computer learning</li>
					<li class="give-whatwedo-lid">Improve poverty</li>
					<li class="give-whatwedo-lid">Teach on regular basis</li>
				</ul>

				<ul class="give-whatwedo-list">
					<li class="give-whatwedo-lih">Promote Clean School</li>
					<li class="give-whatwedo-lid">Digital education</li>
					<li class="give-whatwedo-lid">Computer learning</li>
					<li class="give-whatwedo-lid">Improve poverty</li>
					<li class="give-whatwedo-lid">Teach on regular basis</li>
				</ul>
			</div>
		</div>
		<p class="give-wwd-readmore"> 
			<span>To know what we do, click here for more details 
				<a class="orange-hyperlinks" href="#">Read more</a>
			</span>
		</p>
	</section>

	<section class="give-join">
		<p class="give-join-header">Ways to join</p>
		<p class="give-join-summary">
			Thanks for joining our community. Your help make the world more stronger and fill with the happiness
		</p>
		<p class="give-join-actioncontainer">
			<span class="give-join-action give-join-donate">Donate today</span>
			<span class="give-join-action give-join-otherways">Other ways to join</span>
		</p>
	</section>

	<footer>
		
			<ul class="give-footer-ul give-footer-firstchild">
				<li class="give-footer-li give-footer-list-header">Stay connected</li>
				<li class="give-footer-li give-footer-story">Join Rise community to make the world better together. Send us your email address to keep you updated of the latest events happening at our Schools</li>
				<li class="give-footer-li give-footer-input">
					<input type="text" name="FooterEmail" placeholder="Email address">
					<span class="give-enter-email"></span>
				</li>
			</ul>
			<ul class="give-footer-ul">
				<li class="give-footer-li give-footer-list-header">Navigations</li>
				<li class="give-footer-li">
					<div class="give-page-index-container">
						<span class="give-page-index">
							<a href="#">Vision/Misssion</a>		
						</span>
						<span class="give-page-index">
							<a href="#">Our Approach</a>		
						</span>
					</div>

					<div class="give-page-index-container">
						<span class="give-page-index">
							<a href="#">What we do</a>		
						</span>
						<span class="give-page-index">
							<a href="#">Volunteer</a>		
						</span>
					</div>

					<div class="give-page-index-container">
						<span class="give-page-index">
							<a href="#">Get involved</a>		
						</span>
						<span class="give-page-index">
							<a href="#">News/Research</a>		
						</span>
					</div>

					<div class="give-page-index-container">
						<span class="give-page-index">
							<a href="#">Latest event</a>		
						</span>
					</div>
				</li>
			</ul>
			<ul class="give-footer-ul">
				<li class="give-footer-li give-footer-list-header">Contact</li>
				<li class="give-footer-li">
					<p>Village: Daniya, Post: Khilchi</p>
					<p>District: Chandauli</p>
					<p>Pin code: 500081</p>
				</li>
			</ul>	
	</footer>

	<script type="text/javascript" src="javascripts/home.js"></script>
</body>
</html>