body, a, div, p, header, nav, ul, li {
	padding: 0;
	margin: 0;
}

body, html, main {
	height: 100%;
}

header {
	width: 80%;
	padding-top: 10px;
	margin: auto;
}

header a {
	text-decoration: none;
	color: inherit;
}

header > * {
	vertical-align: middle;
}

main {
	transform: translate(0);
	transition: all 500ms ease;
}

.give-navigation {
	display: inline-block;
	margin-left: 10%;
}

.give-header-container{
	padding-bottom: 10px;
	background-color: rgba(34, 37, 37, 0.78);
	color: #FFF;
	border-bottom: 1px solid #2a2a2a;
}

.give-navigation a {
    font-size: 14px;
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    padding-left: 25px;
}

.give-icon {
	background-image: url(../images/helpinghand.png);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.59);
}

.give-icon-text {
	font-size: 2em;
}

.give-donate-button {
	float: right;
    padding: 9px 20px;
    background-color: #ec1c24;
    font-size: 14px;
    font-weight: 700;
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    margin-top: 3px;
    color: #FFF;
    border: 1px solid #FFF;
}

.give-menu {
    float: right;
    padding: 5px 20px;
    background-color: #c8c8c8;
    font-size: 14px;
    font-weight: 700;
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    margin: 3px 0 0 10px;
    display: none;
}

.give-menu-bar {
	width: 25px;
    height: 3px;
    background-color: black;
    display: block;
    margin: 4px 0px;
    transition: 0.4s;
}

.give-menu-icon {
	display: inline-block;
    vertical-align: middle;
    padding-left: 7px;
}

.give-menu-change .bar1 {
	transform: rotate(-45deg) translate(-2px, 5px);
}

.give-menu-change .bar2 {
	opacity: 0;
}

.give-menu-change .bar3 {
	transform: rotate(45deg) translate(-5px, -8px);
}

.give-about {
	text-align: center;
	width: 60%;
	margin: auto;
    font-family: "Averia Serif Libre", serif;
}

.give-about-header {
    margin-top: 50px;
    font-size: 5em;
}

.give-about-text {
    font-size: 1.25em;
    padding: 20px 0;
    font-style: italic;
    font-weight: 500;
    word-spacing: 9px;
}

.give-about-explorebutton {
    padding: 13px 30px;
    background-color: rgba(236, 28, 36, 0.79);
    color: #FFF;
    font-size: 1.25em;
    cursor: pointer;
    word-spacing: normal;
}

footer {
    width: 100%;
 	padding: 2% 0;
    margin-top: 50px;
    background-color: #333333;
    color: #b0b2b3;
}

.give-footer-ul {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    padding: 2% 0.5%;
    border-right: 1px solid #b0b2b3;
    height: 169px;
}

.give-footer-li {
	list-style-type: none;
    height: 30px;
    line-height: 25px;
}

.give-footer-list-header {
    font-size: 20px;
    padding-bottom: 10px;
}

.give-footer-input {
    height: 39px;
}

.give-footer-input input {
    height: 39px;
    width: 63%;
    padding: 0;
    border: none;
    background-color: #525252;
    float: left;
    padding-left: 15px;
    font-size: 17px;
}

.give-enter-email {
	height: 39px;
    display: inline-block;
    vertical-align: top;
    line-height: 39px;
    width: 10%;
    font-size: 30px;
    background-color: blanchedalmond;
    float: left;
    padding-left: 8px;
    background: url(../images/paper-plane.png) #b0b2b3 no-repeat 10px 8px;
}

.give-footer-firstchild {
    padding-left: 15%;
}

.give-footer-story {
	height: auto;
}

.give-page-index {
    width: 48%;
    display: inline-block;
}

.give-page-index a {
	color: #30bbbf;
	text-decoration: none;
}

.give-page-index a:hover {
	color: #30bbbf;
	text-decoration: underline;
}

.give-footer-ul:last-of-type {
    border-right: none;
}

.give-whatwedo {
    background-color: #00a7e1;
    padding: 2%;
    margin-top: 50px;
    text-align: center;
}

.give-whatwedo-header, .give-join-header {
    font-size: 4em;
    color: rgba(255, 255, 255, 0.7);
}

.give-promoteeducation {
    margin-top: 50px;
}

.give-whatwedo-list {
	display: inline-block;
    width: 40%;
    padding: 1%;
    border-right: 1px solid black;
}

.give-whatwedo-list li {
	list-style-type: none;
}

.give-whatwedo-lih {
	font-size: 1.5em;
    color: rgba(98, 64, 127, 0.75);
    line-height: 1.7em;
}

.give-whatwedo-list:last-of-type {
    border: none;
}

.give-whatwedo-lid {
    color: #b2e4f6;
    line-height: 1.4em;
    font-size: 1.3em;
    text-transform: capitalize;
}

.orange-hyperlinks {
	color: rgb(212, 201, 41);
}

.give-wwd-readmore{
	padding-top: 4%; 
	font-size: 1.3em;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    color: rgb(179, 229, 246);
}

.give-join {
    margin-top: 50px;
    background-color: bisque;
    background-image: url("../images/wj.jpg");
    text-align: center;
    color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 32%;
}

.give-join-header {
    padding-top: 42px;
}

.give-join-action {
    padding: 10px 30px;    
    font-weight: 600;
    font-family: serif;
    color: #FFF;
    cursor: pointer;
    margin: 15px;
}

.give-join-donate {
    background-color: #4CAF50;
}

.give-join-otherways {
    background-color: #e0890d;
}

.give-join-summary {
    font-size: 1.4em;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    font-weight: 600;
}

.give-join-actioncontainer {
    padding: 50px 0;
}


/*slider css*/
.slider-wrap {
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	z-index: -1;
}

.single-slide {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: opacity 500ms ease;
	background-size: cover;
}

#slide-0 {
    color: #ced3d6;
	background-color: red; 
	background-image: url("../images/childresn.jpg");
}

#slide-1 {
	background-color: rebeccapurple; 
	background-image: url("../images/Magazine.jpg");
}

#slide-2 {
    color: rgba(241, 236, 236, 0.82);
	background-color: orange; 
	background-image: url("../images/hope.jpg");
}

#slide-3 {
	background-color: blue; 
	background-image: url("../images/Education.jpg");
    color: rgba(165, 20, 26, 0.79);
}
#slide-4 {
	background-color: green; 
	background-image: url("../images/handstogether.jpg");
    color: rgba(0, 167, 225, 0.65);
}

.give-active-slider {
	opacity: 1;
}

.give-slider-left, .give-slider-right {
    width: 40px;
    height: 80px;
    position: absolute;
    top: 45%;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(176, 178, 179, 0.51);
}

.give-slider-left:hover, .give-slider-right:hover {
	cursor: pointer;
}

.give-slide-center {
	position: absolute;
    top: 38%;
    z-index: 2;
    font-size: 2em;
    text-align: center;
    width: 70%;
    margin-left: 16%;
    font-weight: 600;
}
    
#slide-0 .give-slide-center {
    top: 10%;
}

#slide-4 .give-slide-center {
    float: right;
    margin: 0;
    padding: 0;
    right: 0;
    width: 40%;
    top: 50%;
}

.give-slider-left {
	left: 0;
	border-bottom-right-radius: 80px;
	border-top-right-radius: 80px;
	background-image: url("../images/prev.svg");
	background-position: -1px 23px;

}

.give-slider-right {
	right: 0;
	border-bottom-left-radius: 80px;
	border-top-left-radius: 80px;
	background-image: url("../images/next.svg");
	background-position: 2px 23px;
}

@keyframes slider-animation {
    
	0% {
		opacity: 0;
	}
	6% {
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/*Slider css ends here*/


@media only screen and (max-width: 800px) and (min-width: 700px) {
    .give-navigation {
        margin: 0;
    }

    .give-navigation a {
        padding-left: 10px;
    }
}
    
@media only screen and (max-width: 700px) {
    .give-footer-ul {
        display: block;
        vertical-align: top;
        width: 80%;
        padding: 0;
        border-right: none;
        margin: auto;
        padding-top: 35px;
    }

    .give-menu {
        display: block;
    }

    .give-navigation {
        position: fixed;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        height: 100%;
        background-color: #3b5998;
        width: 200px;
        text-align: center;
        transform: translate(200px);
    }

    .give-navigation a {
        display: block;
        padding: 5px 25px;
        border-bottom: 1px solid;
        color: #FFF;
    }

    .give-navigation.active {
        transform: translate(0);
        transition: all 500ms ease;
    }

    main.active {
        transform: translate(-200px);
        transition: all 500ms ease; 
    }

    main {
        height: 70%;
    }

    .give-about-header {
        font-size: 3em;
    }

    #slide-0 .give-slide-center, #slide-2 .give-slide-center, #slide-3 .give-slide-center, #slide-4 .give-slide-center {
        font-size: 1.25em;
        top: inherit;
        bottom: 2%;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    .give-footer-input input {
        width: 80%;
    }

    .give-menu {
        padding: 5px 10px; 
    }

    .give-donate-button {
        padding: 8.5px 10px;
    }

    .give-join-action {
        padding: 10px 15px;
        margin: 5px;
    }
}